@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6; /* Un gris muy sutil para el fondo general del sistema */
}


* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent; /* color del pulgar | color del fondo */
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px; /* Ancho delgado para scroll vertical */
  height: 6px; /* Alto delgado para scroll horizontal */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fondo transparente para no estorbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Gris claro y elegante */
  border-radius: 10px; /* Bordes redondeados suaves */
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* Gris un poco más oscuro al pasar el mouse */
}